body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
}

img {
  image-rendering: crisp-edges;
  text-align: left;
  width: 50%;
  max-width: auto; 
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
